html {
    height:100%;
    width:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

body {
    /*background-image: linear-gradient( rgb(0,125,0), white);*/
    background-image:linear-gradient(rgb(14, 16, 61), rgb(211, 188, 192));
    background-repeat: repeat-x;
    color:white;
    font-family: "Gaegu";
    font-size: 22px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
h1{
    text-align:center;
}
