<!DOCTYPE>
<html>
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/main.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css" defer>
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <link href="https://fonts.googleapis.com/css?family=Saira Stencil One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  </head>

  <!-- kallar <div> med id "main" för att komma åt alla element i Vue -->
    <div id="main">
      <body >

        <header class="header">
          <button v-on:click="extendSidebar" id="sidebarButton">&#9776</button>
          <h1 id="headerText"> Welcome to ShapeItUp! </h1>
        </header>

        <div id="sideBar" class="col-sidebar">
          <a href="javascript:void(0)" class="closebtn"  v-on:click="retractSidebar">×</a>
          <a href="#">Guide</a>
          <a href="#">Description</a>
          <a href="#">About Us</a>
          <a href="#">Contact</a>
        </div>

        <div id="formInput" class="col-12">
          <form  id="form" method="post" enctype="multipart/form-data" action="/upload"  class="">
            <input type="file" name="file">
            <input type="submit" value="Submit">
          </form>

        </div>

      </body>
    </div>
</html>
