<!DOCTYPE>
<html>
  <head>
    <script src="https://vuejs.org/js/vue.js" ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/main.js" defer></script>
    <link rel="stylesheet" type="text/css" href="css/reset.css" defer>
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <link href="https://fonts.googleapis.com/css?family=Saira Stencil One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  </head>

  <!-- kallar <body> med id "main" för att  komma åt alla element i Vue -->
    <div id="main">
      <body >

        <header class="header">

          <h1 id="headerText"> Welcome to ShapeItUp! </h1>
        </header>

        <div id="formInput" class="col-12">

          <form  id="form" method="delete" enctype="multipart/form-data" action="/remove"  class="">
            <input type="button" value="Delete picture">
            <p id="output">{{str}}</p>
          </form>

        </div>
      </body>
    </div>
</html>
